.resultoadoPesquisado{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom:20px;
    cursor:pointer;

    p{
    width:200px;
}
img{
    width:100px
}
&:hover{
    border: 1px solid white;
}
}