.cardRecomenda{
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 30px #000;
    width: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .nomesCard{
    h3{
        color: orange;
        font-size: 20px;
        font-weight: 700;
    }
    h4{}
    p{}
    }
    .imgCard{
    img{}
    button{}
    }
    
    
}