@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, serif;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #f0f0f0;
    --cor-quarternaia: #72b5f0;
    --cor-logo: #ff0c0c;
    --cor-destaque: #fdd625;
    --font-principal: 'Montserrat Alternates', sans-serif;
    
}
main{
    width: 100vw;
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: var(--font-principal);
}
form{
    width: 60vw;
    height: 70vh;
    background-color: var(--cor-primaria);
    border: solid 5px var(--cor-destaque);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 5px;
    label{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3px;
        width: 20vw;
        font-family: var(--font-principal);
        text-transform: uppercase;
        background-color: var(--cor-destaque);
        color: var(--cor-logo);
        border-radius: 30px;
        border: #ff0c0c 3px solid;


}
    input{
        all: unset;
        height: 4vh;
        background-color: var(--cor-quarternaia);
        color: var(--cor-secundaria);
        font-family: var(--font-principal);
        font-weight: 600;
        border-radius: 40px;
        
}
    .senha-valida{
        display:contents;
            font-family: var(--font-principal);
            text-align: left;
            font-size: 10px;
    }
     .label-nome, .label-email, .label-senha{
        width: 40vw;
}
        
 #nome, #email, #senha{
        width: 39vw;
}


select{
        all: unset;
        width: 22vw;
        height: 4vh;
        text-align: centers;
        background-color: var(--cor-quarternaia);
        color: var(--cor-logo);
        font-family: var(--font-principal);
        font-weight: 500;
        border-radius: 40px;
}

.termos__input{
    width: 15px;
    height: 15px;
    background-color: var(--cor-secundaria);
    border: #ff0c0c 3px solid;

    &:checked{
        background-color: green;
    }
}
.termos__texto{
    color: var(--cor-tercearia);
    font-size: 15px;
    
    width: 30vw;
    margin-bottom: 10px;
}
        button{
            text-align: center;
            border: #72b5f0 3px solid;
            background-color: var(--cor-destaque);
            color: var(--cor-logo);
            font-family: var(--font-principal);
            font-size: 30px;
            border-radius: 40px;
            width: 20vw;
            height: 5vh;
            transition: ease-in-out 1s;
            &:hover{
                border: green 3px solid;
            background-color: var(--cor-destaque);
            color: green;
            }
        }

        .txt-erro{
            font-size: 15px;
            font-family: var(--font-principal);
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
            color:crimson;
        }
}

footer{
    background-color: #000000;
    height: 8vh;
    width: 100vw;
    border-radius: 40px 40px 0px 0px;
}