body{
    background-color: #535252;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}


main{
    padding: 50px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #535252;
    .produtos__container{
        Width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        section{
            padding: 20px;
            border-radius: 40px;
            width: 400px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 10px;
            background-color: #f0f0f0;
            
            img{
                border: dotted 1px #fd1313   ;
                max-width: 100%;
                height: auto;
            }
            .produto__descricao{
             text-align: flex-start;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .titulo__produto{
                font-family: var(--font-principal);
                text-align: center;
                font-size: 35px;
                font-weight: bold;
                color: #535252;
                text-transform: uppercase;
            }
        
            .tipo__produto{
                width: 40%;
                background-color: #0384b4;
                padding: 10px 10px;
                border-radius: 20px;
                font-size: 15px;
                color: #aaaaaa;
                text-align: center;
                text-transform: uppercase;
            }

            .conteudo__vinil{
                list-style: none;
                padding: 0;
                margin: 10px 0px;
                li{
                    font-weight: 500;
                    letter-spacing: 3px;
                    font-size: 15px;
                    color: #000000;
                }
            }
        }
            .preco__produto{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

            .preco__atual{
                text-align:start;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
                p{
                    font-size: 15px;
                    color: #535252;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                strong{
                    font-size: 25px;
                    color: black;
                    font-weight: bold;
                }
                em{
                    font-size: 10px;
                    color: #535252;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                .conferir{
                    text-decoration: none;
                    background-color: yellowgreen;
                    color: #000000;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-size: 20px;
                }
            }

            .SEM__JUROS{
                text-align: center;
                color: #535252;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .descricao__album{
                display: none;
            }
            &:hover{
                cursor: pointer;
                background-color: #535252;
                border: solid 3px #fdd625;
                transform: scale(1.1);
                transition: all 0.3s ease;
                .titulo__produto{
                    color: red;
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 5px;
                    transform: all 0.5s ease-in-out;
                }
                img,.descricao__album,.SEM__JUROS,.tipo__produto,.conteudo__vinil{
                    display: none;
                }
                .descricao__album,.conferir{
                    text-align: justify;
                    color: #f0f0f0;
                    display: block;
                }
            }
        }

    }
}