@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, serif;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #f0f0f0;
    --cor-quarternaia: #72b5f0;
    --cor-logo: #ff0c0c;
    --cor-destaque: #fdd625;
    --font-principal: 'Montserrat Alternates', sans-serif;
    
}

body{
    background-color: var(--cor-secundaria);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-primaria);
   
    border-radius: 0px 0px 40px 40px;
    height: 12vh;
    width: 100vw;
    .navegacao__logo{
        text-decoration: none;
        color: var(--cor-secundaria);
        background-color: var(--cor-logo);
         font-family: var(--font-principal);
        padding: 30px 20px;
        border-radius: 100%;
        transition:ease-in-out 0.5s ;
        font-size: 15px;
        font-weight: bold;
        &:hover{
            background-color: var(--cor-quarternaia);
            font-family: fantasy;
            color: var(--cor-primaria);
        }
}

    nav{
        width: 70vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        .ativo{
            color: var(--cor-destaque);
        }
        a{
            text-decoration: none;
            color: var(--cor-logo);
            font-family: var(--font-principal);
            transition: all 0.3s ease;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                background-color: var(--cor-quarternaia);
                color: var(--cor-primaria);
                border-radius: 40px;
                transform: scale(1.1);
                padding: 5px;
}
        }
        .login{
            padding-left: 10px ;
            font-size: 15px;
            color: var(--cor-logo);
            &:hover{
                color: var(--cor-destaque);
                border-radius: 0px;
                padding: 5px;
                
}
        }
    }
}