@keyframes looping {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
  }
}
  
.logo{
  cursor:pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-principal);
  letter-spacing: 5px;
  font-size: 20px;
  color: #182979;

  img{
    width: 50px;
    height: 50px;
    
  }

  &:hover{
    img{
    animation: looping 2.5s infinite linear;
    }
}
}