.logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-principal);
  letter-spacing: 5px;
  font-size: 20px;
  color: #9b701a;

  img{
    width: 50px;
    height: 50px;
    
  }
}