
.opcoes{
        display: flex;
        gap: 50px;
        }

.opcao{
  transition: 0.3s ease-in-out;
  font-size: 30px;
  display: flex;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: #182979;
  &:hover{
    color: #e8ff80;
  }
   
    }