*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, serif;
}
body{
    background-color: #72b5f0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    border-radius: 0px 0px 40px 40px;
    height: 10vh;
    width: 100vw;
    .navegacao__logo{
        text-decoration: none;
        color: #ffffff;
        background-color: red;
        padding: 30px 20px;
        border-radius: 100%;
        transition:ease-in-out 0.5s ;
        font-size: 15px;
        font-weight: bold;
        &:hover{
            background-color: #72b5f0;
            color: #000000;
        }
}

    nav{
        width: 70vw;
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
        .ativo{
            color: #fdd625;
        }
        a{
            text-decoration: none;
            color: red;
            transition: all 0.3s ease;
            font-size: 30px;
            font-weight: bold;
            &:hover{
                background-color: #72b5f0;
                color: #000000;
                border-radius: 40px;
                transform: scale(1.1);
                padding: 5px;
}
        }
    }
}