input{
border: 1px solid #FFF;
background: transparent;
border: 1px solid #FFF;
padding: 20px 140px;
border-radius: 50px;
width: 200px;
color: #FFF;
font-size: 16px;
margin-bottom: 10px;
}

input [type="placeholder"]  {
 color: #FFF;
 font-size: 16px;
}

section{
    background-image: linear-gradient(90deg, #002f52 35%, #326589 );
    color: #fff;
    text-align: center;
    padding: 85px 0;
    height: 270px;
    width: 100%;
}