.navegacao{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    .opcoes{
        display: flex;
        gap: 50px;
        }

.opcao{
  transition: 0.3s ease-in-out;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  &:hover{
    color: #182979;
  }
   
    }
     .icones{
    display: flex;
    gap: 50px;
    }
    .icone{
        list-style: none;
        img{
            width: 40px;
            height: 40px;
        }
        }
 }



