input{
border: 1px solid #FFF;
background: transparent;
padding: 0 20px;
border-radius: 50px;
width: 480px;
height: 50px;
color: #FFF;
font-size: 16px;
}

input [type="placeholder"]  {
 color: #FFF;
 text-align: center;
 font-size: 16px;
}

.PesquisaContainer{
    background-image: linear-gradient(90deg, #002f52 35%, #326589 );
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 180px;
    width: 100%;
}

