.App{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #4f5144 2%, #d5dd84 50%, #f6f9bb);
}
.App-header{
  padding: 0px 10px 10px 10px;
  background-color: #ffe9c2;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 25vw;
  align-items: center;
}