.App{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #4f5144 2%, #d5dd84 50%, #f6f9bb);
}
.App-header{
  padding: 0px 10px 10px 10px;
  background-color: #ffe9c2;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 25vw;
  align-items: center;


  .opcoes {
    display: flex;
     gap: 30px;
}
.opcao{
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  &::hover{
    color: #9b701a;
    font-weight: 700;
  }
  
}

.icones {
  list-style: none;
    display: flex;
    gap: 50px;
}
}